body{
	 background-image:url(/Background_attendee.png);
	 background-size:cover;
	 overflow: hidden
}
div{
	margin-left:30%;
	margin-right:30%;
	margin-top:10%;
	padding:1%;
	border:solid;
	background-color:#FFFFFF;
	display:flex;
	justify-content:center;
	align-items:center;
}
th{
	 justify-content:center;
	 align-items:center;
}